include pkgdb.sql
include start-pkgdb.in
exclude start-pkgdb
include server-scripts/*.in
exclude server-scripts/pkgdb-sync-repo
include AUTHORS README COPYING ChangeLog NEWS
include *.cfg.sample
include pkgdb/templates/*.html
include pkgdb/templates/plain/*.txt
include pkgdb/config/*.cfg
include pkgdb/static/javascript/*
include pkgdb/static/css/*
include pkgdb/static/images/*
include pkgdb/static/images/spinner/*
include fedora-packagedb.spec
include yum.repos.d/*
