include pkgdb.wsgi
include pkgdb.sql
include start-pkgdb.in
exclude start-pkgdb
include server-scripts/*.in
include server-scripts/*.cfg
include server-scripts/transform-ids.py
exclude server-scripts/pkgdb-sync-repo
include update-schema *
include AUTHORS README COPYING ChangeLog NEWS
include *.cfg.sample
include pkgdb/templates/*.html
include pkgdb/templates/plain/*.txt
include pkgdb/config/*.cfg
recursive-include pkgdb/static/ *
recursive-exclude pkgdb/static/js/dojox/ *
include fedora-packagedb.spec
include yum.repos.d/*
include clients/*
recursive-include docs *
