module turbogears 1.0;

require {
	class dir { getattr search };
	class file { getattr read }; 
	class netif { tcp_recv tcp_send udp_recv udp_send }; 
	class netlink_route_socket { bind create getattr nlmsg_read read write }; 
	class node { tcp_recv tcp_send udp_recv udp_send }; 
	class tcp_socket { accept bind connect create getattr getopt listen name_bind name_connect node_bind read recv_msg send_msg setopt write }; 
	class udp_socket { create connect getattr read recv_msg send_msg write };
	type auditd_t; 
	type automount_t; 
	type avahi_t; 
	type bluetooth_t; 
	type compat_ipv4_node_t; 
	type crond_t; 
	type cupsd_t; 
	type dns_port_t;
	type fsdaemon_t; 
	type getty_t; 
	type hald_t; 
	type hplip_t; 
	type http_cache_port_t; 
	type http_port_t;
	type httpd_sys_script_t; 
	type httpd_t; 
	type init_t; 
	type kernel_t; 
	type klogd_t; 
	type net_conf_t; 
	type netif_t; 
	type node_t; 
	type pcscd_t; 
	type port_t; 
	type portmap_t; 
	type postgresql_port_t; 
	type postgresql_t; 
	type restorecond_t; 
	type rpcd_t; 
	type sendmail_t; 
	type setrans_t; 
	type setroubleshootd_t; 
	type syslogd_t; 
	type system_dbusd_t; 
	type transproxy_port_t;
	type udev_t; 
	type unconfined_t; 
	type xfs_t; 
	role system_r; 
};

allow httpd_sys_script_t transproxy_port_t:tcp_socket { name_bind name_connect };
allow httpd_t transproxy_port_t:tcp_socket name_connect;
allow httpd_sys_script_t dns_port_t:udp_socket { recv_msg send_msg };
allow httpd_sys_script_t http_port_t:tcp_socket { name_connect send_msg };
allow httpd_sys_script_t auditd_t:file read;
allow httpd_sys_script_t automount_t:file read;
allow httpd_sys_script_t avahi_t:file read;
allow httpd_sys_script_t bluetooth_t:file read;
allow httpd_sys_script_t crond_t:file read;
allow httpd_sys_script_t cupsd_t:file read;
allow httpd_sys_script_t fsdaemon_t:file read;
allow httpd_sys_script_t getty_t:file read;
allow httpd_sys_script_t hald_t:file read;
allow httpd_sys_script_t hplip_t:file read;
allow httpd_sys_script_t httpd_t:file read;
allow httpd_sys_script_t init_t:file read;
allow httpd_sys_script_t kernel_t:file read;
allow httpd_sys_script_t klogd_t:file read;
allow httpd_sys_script_t pcscd_t:file read;
allow httpd_sys_script_t portmap_t:file read;
allow httpd_sys_script_t postgresql_t:file read;
allow httpd_sys_script_t restorecond_t:file read;
allow httpd_sys_script_t rpcd_t:file read;
allow httpd_sys_script_t sendmail_t:file read;
allow httpd_sys_script_t setrans_t:file read;
allow httpd_sys_script_t setroubleshootd_t:file read;
allow httpd_sys_script_t syslogd_t:file read;
allow httpd_sys_script_t system_dbusd_t:file read;
allow httpd_sys_script_t udev_t:file read;
allow httpd_sys_script_t unconfined_t:file read;
allow httpd_sys_script_t xfs_t:file read;

allow httpd_sys_script_t fsdaemon_t:dir search;
allow httpd_sys_script_t getty_t:dir search;
allow httpd_sys_script_t hald_t:dir search;
allow httpd_sys_script_t hplip_t:dir search;
allow httpd_sys_script_t httpd_t:dir search;
allow httpd_sys_script_t init_t:dir search;
allow httpd_sys_script_t kernel_t:dir search;
allow httpd_sys_script_t klogd_t:dir search;
allow httpd_sys_script_t pcscd_t:dir search;
allow httpd_sys_script_t portmap_t:dir search;
allow httpd_sys_script_t restorecond_t:dir search;
allow httpd_sys_script_t rpcd_t:dir search;
allow httpd_sys_script_t sendmail_t:dir search;
allow httpd_sys_script_t setrans_t:dir search;
allow httpd_sys_script_t setroubleshootd_t:dir search;
allow httpd_sys_script_t syslogd_t:dir search;
allow httpd_sys_script_t system_dbusd_t:dir search;
allow httpd_sys_script_t udev_t:dir search;
allow httpd_sys_script_t unconfined_t:dir search;
allow httpd_sys_script_t xfs_t:dir search;
allow httpd_sys_script_t auditd_t:dir { getattr search };
allow httpd_sys_script_t automount_t:dir { getattr search };
allow httpd_sys_script_t avahi_t:dir { getattr search };
allow httpd_sys_script_t bluetooth_t:dir { getattr search };
allow httpd_sys_script_t compat_ipv4_node_t:node { tcp_recv tcp_send };
allow httpd_sys_script_t compat_ipv4_node_t:tcp_socket node_bind;
allow httpd_sys_script_t crond_t:dir { getattr search };
allow httpd_sys_script_t cupsd_t:dir { getattr search };
allow httpd_sys_script_t fsdaemon_t:dir getattr;
allow httpd_sys_script_t getty_t:dir getattr;
allow httpd_sys_script_t hald_t:dir getattr;
allow httpd_sys_script_t hplip_t:dir getattr;
allow httpd_sys_script_t http_cache_port_t:tcp_socket { name_bind name_connect recv_msg send_msg };
allow httpd_sys_script_t httpd_t:dir getattr;
allow httpd_sys_script_t init_t:dir getattr;
allow httpd_sys_script_t kernel_t:dir getattr;
allow httpd_sys_script_t klogd_t:dir getattr;
allow httpd_sys_script_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow httpd_sys_script_t self:tcp_socket { accept bind connect create getattr getopt listen read setopt write };
allow httpd_sys_script_t self:udp_socket { create connect getattr read write };
allow httpd_sys_script_t net_conf_t:file { getattr read };
allow httpd_sys_script_t netif_t:netif { tcp_recv tcp_send udp_recv udp_send };
allow httpd_sys_script_t node_t:node { tcp_recv tcp_send udp_recv udp_send };
allow httpd_sys_script_t node_t:tcp_socket node_bind;
allow httpd_sys_script_t pcscd_t:dir getattr;
allow httpd_sys_script_t port_t:tcp_socket { recv_msg send_msg };
allow httpd_sys_script_t portmap_t:dir getattr;
allow httpd_sys_script_t postgresql_port_t:tcp_socket { name_connect recv_msg send_msg };
allow httpd_sys_script_t postgresql_t:dir { getattr search };
allow httpd_sys_script_t restorecond_t:dir getattr;
allow httpd_sys_script_t rpcd_t:dir getattr;
allow httpd_sys_script_t sendmail_t:dir getattr;
allow httpd_sys_script_t setrans_t:dir getattr;
allow httpd_sys_script_t setroubleshootd_t:dir getattr;
allow httpd_sys_script_t syslogd_t:dir getattr;
allow httpd_sys_script_t system_dbusd_t:dir getattr;
allow httpd_sys_script_t udev_t:dir getattr;
allow httpd_sys_script_t unconfined_t:dir getattr;
allow httpd_sys_script_t xfs_t:dir getattr;
allow httpd_t http_cache_port_t:tcp_socket name_connect;
