<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="paginator.html" />
  <xi:include href="pkglist.html" />
  <body>

    <p py:choose="fasname">
      <span py:when="'orphan'" py:strip="">
      View users: Info |
      <a href="${tg.url('/users/packages/' + fasname)}">Packages</a> 
      </span>
      <span py:otherwise="" py:strip="">
      View users: <a href="${tg.url('/users/info/' + fasname)}">Info</a> |
      <a href="${tg.url('/users/packages/' + fasname)}">Packages</a>
      </span>
    </p>
    
    ${paginate_nav()}
    ${pkglist(pkgs)}
    ${paginate_nav()}
  </body>
</html>
