<div>
  <table>
    <tr>
      <td class="label"><label for="username">User Name: </label></td>
      <td class="field"><input dojoType="dijit.form.TextBox" type="text" id="username" name="username" /></td>
    </tr>
    <tr>
      <td class="label"><label for="password">Password:</label></td>
      <td class="field"><input dojoType="dijit.form.TextBox" type="password" name="password" id="password" /></td>
    </tr>
    <tr>
      <td colspan="2" class="buttons">
        <button dojoType="dijit.form.Button" type="submit">Login</button>
        <!--
        - This doesn't work yet.  Have to find one of these solutions:
        - 1) cancel button calls onCancel via dojoAttachEvent
        - 2) cancel button calls a method in the BaseClient
        <button dojoType="dijit.form.Button" type="submit" onclick="cancel_login()">Cancel</button>
        -->
      </td>
    </tr>
  </table>
  <p>You'll need a <a href="https://admin.fedoraproject.org/accounts/">Fedora Account</a> in order to login.</p>
</div>
