#sidebar
{
  float: left;
  width: 25ex;
  margin: 2ex 0;
  background: #FFFFFF;
}

#content
{
  margin-left: 25ex!important;
}

#content ul
{
  list-style: square;
  margin: 1ex 3ex;
  line-height: 1;
}

#content table
{
  border-collapse: collapse;
}

#content th, #content td
{
  border: 1px solid #DDDDDD;
  padding: 0.5ex 2ex;
}

.nav
{
  margin: 0 10px;
  padding: 0 1.5ex;
}

.nav h2
{
  border-bottom: 1px dotted #AAAAAA;
  color: #444444;
  font-size: 1.5ex;
  margin: 2ex 0 1ex;
  text-transform: uppercase;
  font-weight: normal;
}

.nav ul
{
  list-style: url(http://fedoraproject.org/images/arrow.png);
  margin-left: 15px;
}

.nav li
{
  margin: 0.25ex 1ex;
  color: #777777;
  font-size: 1.5ex;
}

.nav a
{
  font-weight: bold;
  margin-right: 0.75ex;
  color: #729FCF;
}

#content h3
{
  margin: 0!important;
}

#pageLogin
{
  float: right;
}

.pkglist
{
  border: 1px solid #CCCCCC;
  width: 100%;
  margin: 1.5ex 0;
  text-align: center;
}

.pkglist th, .pkglist td
{
  border: none!important;
}

.pkglist table th, .pkglist table td
{
  border: 1px solid #CCCCCC;
}

.actions
{
  list-style: none;
  line-height: 1;
  margin: 1ex 0!important;
}

.actions li
{
  display: inline;
  margin-right: 1ex;
}

a.bodhi
{
  padding-left: 20px;
  background: url(../images/bodhi.png) 0 50% no-repeat;
}

a.koji
{
  padding-left: 20px;
  background: url(../images/koji.png) 0 50% no-repeat;
}


