<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

    <xi:include href="paginator.html" />

    ${paginate_nav()}

    <div class="app-search-result-box">
        <table>
        <tr py:for="app in app_list">
          <td class="col-icon"><a href="${tg.url('/applications/%s' % app.name)}">
                <img src="${icon_url(app.name, app.icon_status)}" />
              </a>
          </td>
          <td><div class="app-name"><a href="${tg.url('/applications/%s' % app.name)}">${app.name}</a></div>${app.summary}</td>
          <td>${app.description}</td>
          <td class="col-date"><div>Votes: ${app.count}</div><!--div class="compact-date">Avg: ${'%1.3s' % (app['total']*1.0/app['count'])}/5 </div--></td>
        </tr>
        <tr py:if="len(app_list)==0">
          <td colspan="3">No application found</td>
        </tr>
        </table>
    </div>

    ${paginate_nav()}

</html>
