<html py:strip=""
      xmlns:py="http://genshi.edgewall.org/">
  <div py:def="app_box(title, data, type='default')" py:strip="True">
    <div py:if="data" class="best-of-box" style="float:left; width: 48%; margin: 1%;">
        <h4>${title}</h4>
        <table>
        <tr py:for="app in data">
          <td class="col-icon"><a href="${tg.url('/applications/%s' % app.name)}">
                <img src="${icon_url(app.name, app.icon_status)}" />
              </a>
          </td>
          <td><div class="app-name"><a href="${tg.url('/applications/%s' % app.name)}">${app.name}</a></div>
          <span py:if="type=='default'">${app.summary}</span>
          <span py:if="type=='comments'">${app.author}: <i>${app.body}</i></span>
          <span py:if="type=='discussed'">${app.count} comments</span>
          <span py:if="type=='popular'">Rated ${app.count} times</span>
          </td>
        </tr>
        </table>
    </div>
  </div>
</html>    

