<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

    <xi:include href="letter_paginator2.html" />
    <xi:include href="paginator.html" />

    ${letter_paginate_nav('builds/%s/' % list_type, searchwords, '')}
    ${paginate_nav()}

    <div class="app-search-result-box">
        <table>
        <tr py:for="b in build_list">
          <td class="col-icon"><a href="${tg.url('/builds/show/%s/%s/%s/%s/%s/%s' % (b.repo.shortname, b.name, b.epoch, b.version, b.release, b.architecture))}">
                <img src="${tg.url('/static/images/build.png')}" />
              </a>
          </td>
          <td><div class="app-name"><a href="${tg.url('/builds/show/%s/%s/%s/%s/%s/%s' % (b.repo.shortname, b.name, b.epoch, b.version, b.release, b.architecture))}">${str(b)}</a></div></td>
        </tr>
        <tr py:if="len(build_list)==0">
          <td colspan="2">No builds found</td>
        </tr>
        </table>
    </div>

    ${paginate_nav()}
    ${letter_paginate_nav('builds/%s/' % list_type, searchwords, '')}

</html>
