<html py:strip=""
      xmlns:py="http://genshi.edgewall.org/">
    <!--a  href="${tg.url('/commentsfeed/atom1.0?app=%s' % app.name)}">
            <img src="${tg.url('/static/images/feed.png')}"
                 alt="(${len(comments)}) Comments" />
  &nbsp; ${len(comments)} Comments:</a-->

  <py:choose test="len(comments)">
  <py:when test="0">
    <h3>No User Comments</h3>
    <hr style="color:#666;"/>
    Be the first to comment...
  </py:when>
  <py:otherwise>
    <h3>User Comments (${len(comments)})</h3>
    <hr />
  </py:otherwise>
  </py:choose>

  <py:for each="(comment, cid) in zip(comments, range(1, len(comments)+1))">
          <?python if comment.published:
                       color=''
                   else:
                       color='#fee'
                   ?>
          <div class="comment" style="background-color: $color">
            <div class="comment_head">
              <div style="float:right;">${comment.fancy_delta()}</div>
              <b style="color:#337acc;">${comment.author}</b> says:
              <?python from pkgdb.utils import mod_grp ?>
              <py:if test="mod_grp in tg.identity.groups">              
                <a href="${tg.url('/comments/toggle_published/%s' %comment.id)}">
                  <py:choose test="comment.published">
                    <py:when test="True">
                      unpublish
                    </py:when>
                    <py:when test="False">
                      publish
                    </py:when>
                  </py:choose>
                </a>
              </py:if>
            </div>
            <?python
               # there's got to be a standard way of doing this..
               body = ''.join("<p>%s</p>" % line \
               for line in comment.body.splitlines() if line)
               ?>
            <blockquote xml:space="preserve">${HTML(body)}</blockquote>
          </div>
          <hr />
  </py:for>
</html>

