<html xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <?python
     # get the biggest value and size the other tags relative to it and the MAX
     MAX = 22.0
     if tagscore.values():
       biggest = sorted(tagscore.values())[-1]
     ?>
  <p>
    <py:for each="tag in tagscore.keys()" xmlns:py="http://genshi.edgewall.org/">
      <?python
         fsize = (tagscore[tag] * MAX)/biggest
         ?>
      <span style="font-size: ${'%spt' % fsize}">
        <a href="${tg.url('/tag/list/%s' % tag)}"
           title="tagged ${tagscore[tag]} times">$tag</a>
      </span>
    </py:for>
  </p>
</html>
