<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xml:lang="en" lang="en">
  <xi:include href="layout.html" />

  <head>
    <script type="text/javascript"
            src="${tg.url('/static/js/dojo/dojo.js')}"
            djConfig="parseOnLoad: true" >
    </script>
    <script type="text/javascript">
      dojo.require("dojo.parser");
      dojo.require("dijit._base.manager");
      dojo.require("dijit.layout.ContentPane" );
      dojo.require("dijit.form.ValidationTextBox");
      dojo.require("dijit.form.Textarea");
      dojo.require("dijit.form.Form");
      dojo.require("dijit.form.Button");
    </script>

    <script type="text/javascript">
      function jump(page,form){
           urlparts = page.split('?_csrf');
           window.location = urlparts[0] + document.forms.namedItem(form).searchwords.value + '?_csrf'+urlparts[1];
           return false
      };

      function toggle(hiddenId,buttonId){
           e = dojo.byId(hiddenId);
           but = dojo.byId(buttonId);
           if(e.style.display=="none") {
             e.style.display="";
             but.innerHTML="(less)";
           } else {
             e.style.display="none";
             but.innerHTML="(more)";
           }
      };

      function tagComment(formId, loaderId, destinationId){
          var form = dijit.byId(formId);
          dojo.connect(form, "onSubmit", function(e){
              e.preventDefault();
              if(form.isValid()){
                  dojo.fadeIn({
                      node: loaderId,
                      duration: 2000
                  }).play();
                  dojo.xhrPost( {
                      form: formId,
                      handleAs: "text",
                      load: function(response){
                                dojo.fadeOut({
                                    node: loaderId,
                                    duration: 1000
                                    }).play();
                                var textarea = dojo.query('#'+formId+' textarea')[0];
                                dijit.getEnclosingWidget(textarea).reset();
                                dojo.byId(destinationId).innerHTML = response;
                                }
                      });
                  }
              });
      };
    </script>
    <script type="text/javascript">
    dojo.addOnLoad(function(){
          /*tagComment("tagForm", "tagLoader", "tagList");*/
          tagComment("commentForm", "commentLoader", "commentList");
      });
    </script>
  </head>
  <body>

  <div id="info-bar" style="float:right; width: 220px;">
     Screenshot
    <br />
    Appinfo
    <br />
    Related stuff
  </div>
  <div id="main-pannel" style="margin-right: 220px;">
    <py:choose test="app.icon">
    <img py:when="None" style="float:left;padding-right:10px;" src="${tg.url('/static/images/noicon.png')}" />
    <img py:otherwise="True" style="float:left;padding-right:10px;" src="${tg.url('/static/images/totem.png')}" />
    </py:choose>
    <div style="margin-left:150;">
        <h2 style="color: #337acc;">${app.name}</h2>
        ${app.summary}
    </div>

    <p>
    Something | <a href="#user_comments"><img style="padding-right:5px;" src="${tg.url('/static/images/comments_small.png')}" />User Comments (${len(comments)})</a>
    </p>

    <p>
    ${app.description}
    </p>
    <p>
    User ratings
    </p>
    <a name="user_comments" />
    <div id="comments">
      <div id="commentList">
        <xi:include href="_comments.html" />
      </div>
      <py:choose test="tg.identity.anonymous">
      <py:when test="True">
        <a href="${tg.url('/login')}">please log in to comment</a>
      </py:when>
          
      <py:when test="False">
            <h4>Post a comment</h4>
            <form id="commentForm" method="post"
                  action="${tg.url('/comments/add/')}"
                  dojoType="dijit.form.Form">
              <input type="hidden" name="app" value="$app.name" />
              <input type="hidden" name="language" value="$language" />
              <input type="hidden" name="author" value="$tg.identity.user_name"/>
              <p><textarea name="body" rows="10" cols="60"
                           style="min-height:50px;" dojoType="dijit.form.Textarea"></textarea></p>
              <button type="submit" dojoType="dijit.form.Button">Post</button>
            </form>
            <div id="commentLoader" style="opacity: 0">Loading...</div>
      </py:when>
      </py:choose>
    </div>
  </div>


  </body>
</html>
