<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xml:lang="en" lang="en">
  <xi:include href="layout.html" />
  <xi:include href="_ajax_loader.html" />

  <head>
    <link rel="alternate" type="application/atom+xml" 
        href="${tg_url('/appfeed/atom1.0?content=all&amp;apps=%s' % app.name)}" 
        title="Atom 1.0 feed of ${app.name} related content" />
    <link rel="alternate" type="application/atom+xml"
          href="${tg_url('/appfeed/atom1.0?content=comments&amp;apps=%s' % app.name)}"
          title="Atom 1.0 feed of Latest Comments on ${app.name}" />

    <style type="text/css">

        #user_ratings .dojoxRatingStar {
            background-image: url(${tg.url('/static/images/grey_star.png')});
            background-position: center center;
            background-repeat: no-repeat;
            background-color: white;
            width: 16px;
            height: 16px;
            padding: 0;
        }

        #user_ratings .dojoxRatingStarChecked {
            background-image: url(${tg.url('/static/images/blue_star.png')});
        }

        #user_ratings .dojoxRatingStarHover {
            background-image:url(${tg.url('/static/images/blue_star.png')});
            opacity: 0.5;
        }

        .pkgdbRatingStar {
            background-image: url(${tg.url('/static/images/grey_star.png')});
            background-position: center center;
            background-repeat: no-repeat;
            background-color: white;
            width: 16px;
            height: 16px;
            padding: 0;
            margin: 0 -4px 0 0;
        }
    </style>

    <script type="text/javascript"
            src="${tg.url('/static/js/dojo/dojo.js')}"
            djConfig="parseOnLoad: true" >
    </script>
    <script type="text/javascript">
      dojo.require("dojo.parser");
      dojo.require("dojo.fx");
      dojo.require("dojox.form.Rating");
      dojo.require("dojox.layout.ContentPane");
      dojo.require("dijit._base.manager");
      dojo.require("dijit.form.ValidationTextBox");
      dojo.require("dijit.form.Textarea");
      dojo.require("dijit.form.Form");
      dojo.require("dijit.form.Button");
      dojo.require("dijit.Tooltip");
    </script>

    ${ajax_loader_script()}

    <script type="text/javascript">
      function jump(page,form){
           urlparts = page.split('?_csrf');
           window.location = urlparts[0] + document.forms.namedItem(form).searchwords.value + '?_csrf'+urlparts[1];
           return false
      };

      function showUsageForm() {
            var e = dojo.byId('newUsageFormContainer');
            if(e.style.display=="none") {
                dojo.fx.wipeIn({node: 'newUsageFormContainer',duration: 100}).play();
            }
            
      }


      function showTagForm() {
            var e = dojo.byId('tagFormContainer');
            if(e.style.display=="none") {
                dojo.fx.wipeIn({node: 'tagFormContainer',duration: 100}).play();
            }
            
      }

      function hideTagForm() {
            var e = dojo.byId('tagFormContainer');
            if(e.style.display!="none") {
                dojo.fx.wipeOut({node: 'tagFormContainer',duration: 100}).play();
            }
            
      }

      function toggle(hiddenId,buttonId){
           e = dojo.byId(hiddenId);
           but = dojo.byId(buttonId);
           if(e.style.display=="none") {
             e.style.display="";
             but.innerHTML="(less)";
           } else {
             e.style.display="none";
             but.innerHTML="(more)";
           }
      };

      function tagComment(formId, loaderId, destinationId){
          var form = dijit.byId(formId);
          dojo.connect(form, "onSubmit", function(e){
              if(e) {
                  e.preventDefault();
              }
              if(form.isValid()){
                  show_ajax_loader(loaderId);
                  dojo.xhrPost( {
                      form: formId,
                      handleAs: "text",
                      load: function(response){
                                var form = dojo.query('#'+formId)[0];
                                form.reset();
                                var textarea = dojo.query('#'+formId+' textarea')[0];
                                if (textarea) {
                                    textarea.value="";
                                }
                                var dest = dijit.byId(destinationId);
                                dest.destroyDescendants();

                                dest.attr('content', response);
                                }
                      });
                  }
              });
      };
    </script>
    <script type="text/javascript">
    dojo.addOnLoad(function(){
      });
    </script>
  </head>
  <body>

  <div id="info-bar">
    <!--Screenshot-->
    <div class="info-box">
      <h4>Application Info</h4>
      <div id="tagList" dojoType="dojox.layout.ContentPane">
        <xi:include href="_tags.html" />
      </div>
      <div class="group-header">
        <span class="title">Packages</span>
      </div>
      <div class="group-data">
        <ul>
          <li py:for="pkg_name in set(b.package.name for b in app.builds)">
          <a href="${tg.url('/acls/name/%s' % pkg_name)}" title="Edit package ACls">${pkg_name}</a>
          </li>
        </ul>
      </div>
      <div class="group-header">
        <span class="title">Feeds</span>
      </div>
      <div class="group-data">
        <ul>
          <li>
            <img src="${tg_url('/static/images/feed_small.png')}" style="vertical-align: bottom;" title="Atom 1.0" />
            <a href="${tg_url('/appfeed/atom1.0?content=all&amp;apps=%s' % app.name)}" 
                title="Everything">Everything</a>
          </li>
          <li>
            <img src="${tg_url('/static/images/feed_small.png')}" style="vertical-align: bottom;" title="Atom 1.0" />
            <a href="${tg_url('/appfeed/atom1.0?content=comments&amp;apps=%s' % app.name)}" 
                title="Comments">Comments</a>
          </li>
          <li>
            <img src="${tg_url('/static/images/feed_small.png')}" style="vertical-align: bottom;" title="Atom 1.0" />
            <a href="${tg_url('/appfeed/atom1.0?content=usages&amp;apps=%s' % app.name)}" 
                title="Usages">Usages</a>
          </li>
          <li>
            <img src="${tg_url('/static/images/feed_small.png')}" style="vertical-align: bottom;" title="Atom 1.0" />
            <a href="${tg_url('/appfeed/atom1.0?content=tags&amp;apps=%s' % app.name)}" 
                title="Tags">Tags</a>
          </li>
          <li id="feed-help">
            <img src="${tg_absolute_url('/static/images/info.png')}" style="vertical-align: bottom;"/>
            Customize your feeds
          </li>
          <div dojoType="dijit.Tooltip" connectId="feed-help" possition="below">
            <h3>Cusomize your feeds</h3>
            The feed url can by altered according to following schema:<br/>
            <pre style="margin: 0.5em;">
    ${tg_url('/appfeed')}/&lt;format&gt;?content=&lt;content&gt;&amp;apps=&lt;apps&gt;</pre>
            As <b>format</b> pick one of 'atom0.3', 'atom1.0', 'rss2.0', 'mrss1.1.1'.
            <b>content</b> is one or more of 'usages', 'tags', 'comments', 'builds' or 'all'. 
            If more options are used separate them with '+'.
            <b>apps</b> is comma separeted list of app names.
            <h3>Examples</h3>
            <pre>
    ${tg_url('/appfeed')}/atom1.0?content=all&amp;apps=Firefox Web Browser
    ${tg_url('/appfeed')}/rss2.0?content=tags+comments+usages&amp;apps=Agave
    ${tg_url('/appfeed')}/atom1.0?content=comments+usages&amp;apps=Amarok,Vlc
            </pre>


          </div>
        </ul>
      </div>
    </div>

    <br />
  </div>
  <div id="main-pannel" style="margin-right: 235px;">
    <img style="float:left;padding-right:10px;" src="${app.icon_url()}" />
    <div style="margin-left:150;">
        <div class="download-button" style="float: right;">
        <xi:include href="_app_install.html" />
        </div>
        <div>
        <h2 style="color: #337acc;">${app.name}</h2>
        ${app.summary}
        </div>
    </div>

    <p>
    <a href="#user_comments"><img style="padding-right:5px;" src="${tg.url('/static/images/comments_small.png')}" />User Comments</a> | <a href="#builds">Builds</a>
    </p>

    <p>
    ${app.description}
    </p>
    <p>
    <div id="userRatingList" dojoType="dojox.layout.ContentPane">
      <xi:include href="_user_ratings.html" />
    </div>
    </p>
    <div id="commentList" dojoType="dojox.layout.ContentPane">
      <xi:include href="_comments.html" />
    </div>
    
    <a name="builds" />
    <div id="builds">
      <py:choose test="len(app.builds_by_collection())">
      <py:when test="0">
        <h3>No builds available</h3>
      </py:when>
      <py:otherwise>
        <h3 class="comment" style="padding-bottom: 7px;">Available Builds</h3>
        <div py:for="(col, builds) in app.builds_by_collection().iteritems()">
          <h4>${col.simple_name}</h4>
            <ul>
                <li py:for="b in builds">
                    <a href="${tg.url('/builds/show/%s/%s/%s/%s/%s/%s' % (b.repo.shortname, b.name, b.epoch, b.version, b.release, b.architecture))}">${str(b)}</a>
                    ${b.size/1024}kB</li>
            </ul>
        </div>

      </py:otherwise>
      </py:choose>
    </div>
  </div>


  </body>
</html>
