<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

  <head>
    <script type="text/javascript"
            src="${tg.url('/static/js/dojo/dojo.js')}"
            djConfig="parseOnLoad: true" >
    </script>
    <script type="text/javascript">
      dojo.require("dojo.parser");
      dojo.require("dijit.layout.ContentPane" );
      dojo.require("dijit.form.ValidationTextBox");
      dojo.require("dijit.form.Textarea");
      dojo.require("dijit.form.Form");
      dojo.require("dijit.form.Button");
    </script>

    <script type="text/javascript">
      function jump(page,form){
           urlparts = page.split('?_csrf');
           window.location = urlparts[0] + document.forms.namedItem(form).searchwords.value + '?_csrf'+urlparts[1];
           return false
      };

      function toggle(hiddenId,buttonId){
           e = dojo.byId(hiddenId);
           but = dojo.byId(buttonId);
           if(e.style.display=="none") {
             e.style.display="";
             but.innerHTML="(less)";
           } else {
             e.style.display="none";
             but.innerHTML="(more)";
           }
      };

      function tagComment(formId, loaderId, destinationId){
          var form = dijit.byId(formId);
          dojo.connect(form, "onSubmit", function(e){
              e.preventDefault();
              if(form.isValid()){
                  dojo.fadeIn({
                      node: loaderId,
                      duration: 2000
                  }).play();
                  dojo.xhrPost( {
                      form: formId,
                      handleAs: "text",
                      load: function(response){
                                dojo.fadeOut({
                                    node: loaderId,
                                    duration: 1000
                                    }).play();
                                dojo.byId(destinationId).innerHTML = response;
                                }
                      });
                  }
              });
      };
    </script>
    <script type="text/javascript">
    dojo.addOnLoad(function(){
          tagComment("tagForm", "tagLoader", "tagList");
          tagComment("commentForm", "commentLoader", "commentList");
          document.getElementById("moredeps").style.display="none";
          document.getElementById("showdeps").innerHTML="(more)";
      });
    </script>
  </head>
  
  <body>
    <h2>$app.name</h2>

    <div id="tags">
      <py:choose test="tg.identity.anonymous">
        <div id="tagList">
          <xi:include href="_tags.html" />
        </div>
        <py:when test="True">
          <p><a href="${tg.url('/login')}">log in to tag</a></p>
        </py:when>

        <py:when test="False">
          <form id="tagForm" method="POST"
                action="${tg.url('/tag/add/')}"
                dojoType="dijit.form.Form">
            <input type="hidden" name="apps" value="$app.name" />
            <input type="hidden" name="language" value="$language" />
            <input type="text" name="tags" value="" size="9"
                   dojoType="dijit.form.ValidationTextBox" trim="true"
                   required="true" missingMessage="Please enter a tag!" />
            <button type="submit" dojoType="dijit.form.Button">Tag!</button>
          </form>
          <div id="tagLoader" style="opacity: 0">Loading...</div>
        </py:when>
      </py:choose>
    </div>

      <br />
      <div id="comments">
        <py:choose test="tg.identity.anonymous">
          <py:when test="True">
            <a href="${tg.url('/login')}"
               style="float: right">please log in to comment</a>
          </py:when>
          <div id="commentList">
            <xi:include href="_comments.html" />
          </div>
          
          <py:when test="False">
            Add a new comment:
            <form id="commentForm" method="post"
                  action="${tg.url('/comments/add/')}"
                  dojoType="dijit.form.Form">
              <input type="hidden" name="app" value="$app.name" />
              <input type="hidden" name="language" value="$language" />
              <input type="hidden" name="author" value="$tg.identity.user_name"/>
              <p><textarea name="body" rows="10" cols="80"
                           dojoType="dijit.form.Textarea"></textarea></p>
              <button type="submit" dojoType="dijit.form.Button">Send</button>
            </form>
            <div id="commentLoader" style="opacity: 0">Loading...</div>
          </py:when>
        </py:choose>
      </div>

    <h3>Recent builds</h3>
    <ul>
    <li py:for="build in app.builds" ><a href="${tg.url('/packages/%s/%s' % (build.name, build.repo.shortname))}">$build.name ($build.repo.shortname)</a></li>
    </ul>

  </body>
</html>
