<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xml:lang="en" lang="en">
  <xi:include href="layout.html" />
  <xi:include href="paginator.html" />
  <?python
    from pkgdb.lib.dt_utils import fancy_delta
    from pkgdb.lib.text_utils import highlight
    from genshi import HTML
  ?>
  <head>
    <script type="text/javascript"
            src="${tg.url('/static/js/dojo/dojo.js')}"
            djConfig="parseOnLoad: true" >
    </script>
    <script type="text/javascript">
        dojo.require("dijit.Tooltip");
        dojo.addOnLoad(function(){
        });
    </script>
  </head>
  <body>
  <div id="main-pannel">
    <h2 style="color: #337acc;" >Builds</h2>
    <xi:include href="_apps_search.html" />
    ${search_box(packages=False, apps=False)}

    <div py:if="build_list" class="app-search-result-box">
        ${paginate_nav()}
        <table>
        <tr py:for="b in build_list">
          <td class="col-icon"><a href="${tg.url('/builds/show/%s/%s/%s/%s/%s/%s' % (b.repo, b.name, b.epoch, b.version, b.release, b.arch))}">
                <img src="${tg.url('/static/images/build.png')}" />
              </a>
          </td>
          <td>
            <div class="app-name">
                <a href="${tg.url('/builds/show/%s/%s/%s/%s/%s/%s' % (b.repo, b.name, b.epoch, b.version, b.release, b.arch))}">
                    ${HTML("%s-%s-%s.%s" % (highlight(b.name, ' '.join(s_pattern.get('default', ['']))), b.version, b.release, highlight(b.arch, ' '.join(s_pattern.get('arch:', [''])))))}
                </a>
            </div>
          </td>
          <td>
            ${b.repo}
          </td>
          <td>
                <span py:if="b.has_key('committer')" py:strip="True">
                <b>Commit:</b> ${HTML(highlight(b['committer'].split(chr(60))[0], ' '.join(s_pattern.get('default', ['']))))}, 
                </span>
                <span py:if="b.has_key('license')" py:strip="True">
                <b>License:</b> ${HTML(highlight(b['license'], ' '.join(s_pattern.get('default', ['']))))},
                </span>
                <span py:if="b.has_key('files') and b['files']" py:strip="True">
                <b>Files:</b> ${HTML(highlight(', '.join(b['files'][:5]), ' '.join(s_pattern.get('file:', ['']))))}
                <span py:if="len(b['files'])>5" py:strip="True">...</span>,
                </span>
                <span py:if="b.has_key('provides') and b['provides']" py:strip="True">
                <b>Provides:</b> ${HTML(highlight(', '.join(b['provides'][:5]), ' '.join(s_pattern.get('provides:', ['']))))}
                <span py:if="len(b['provides'])>10" py:strip="True">...</span>,
                </span>
                <span py:if="b.has_key('requires') and b['requires']" py:strip="True">
                <b>Requires:</b> ${HTML(highlight(', '.join(b['requires'][:5]), ' '.join(s_pattern.get('requires:', ['']))))}
                <span py:if="len(b['requires'])>10" py:strip="True">...</span>,
                </span>
                <span py:if="b.has_key('depends') and b['depends']" py:strip="True">
                <b>Depends:</b> ${HTML(highlight(', '.join(b['depends'][:5]), ' '.join(s_pattern.get('depends:', ['']))))}
                <span py:if="len(b['depends'])>10" py:strip="True">...</span>,
                </span>
                <b>Score:</b> ${b['score']}
            </td>
        </tr>
        <tr py:if="len(build_list)==0">
          <td colspan="4">No packagebuild found</td>
        </tr>
        </table>
        ${paginate_nav()}
    </div>

  </div>

  </body>
</html>
