<?python
TODO='Not yet implemented'
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="paginator.html" />
  <xi:include href="pkglist.html" />
  <body>
    <h2 py:content="collection['name'], ' ',  collection['version']">Collection</h2>
    <table border='0'>
      <tr>
        <th>
          Status
        </th>
        <td py:content="collection['statusname']"/>
      </tr>
      <tr>
        <th>
          Owner
        </th>
        <td py:content="collection['ownername']"/>
      </tr>
      <tr>
        <th>
          Creation Date
        </th>
        <td py:content="TODO">Fill in the Creation Date</td>
      </tr>
    </table>
    <p py:content="collection['summary']">Summary</p>
    <p py:content="collection['description']">Description</p>
    ${paginate_nav()}
    ${pkglist(packages)}
    ${paginate_nav()}
  </body>
</html>
