<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <html />
  <head>
    <style type="text/css" media="screen">
      @import url("/pkgdb/static/css/jquery.tooltip.css");
    </style>

    <script language="javascript" src="${tg.url('/static/javascript/jquery.dimensions.js')}"/>
    <script language="javascript" src="${tg.url('/static/javascript/jquery.tooltip.js')}"/>
    <script language="javascript" src="${tg.url('/static/javascript/collectionoverview.js')}"/>

  </head>
  <body>
    <h2>Statistics</h2>
	<p>Packages with no comaintainers in devel: $no_comaintainers</p> 
	<p>Packages in all Collections: $total</p>
	<p>Packages belonging to you: $own</p><br />
	<p>Orphan packages in devel: $orphan_devel</p>
	<p>Orphan packages in Fedora 8: $orphan_eight</p>
    
    <h2>Top 20 0wn3rz</h2>
    <table>
      <tr py:for="id, (owner, listing ) in enumerate(zip(top_owners_names, top_owners_list))">
	<td py:content="id+1">
	</td>
	<td>
	  <a href="${tg.url('/users/packages/' + str(owner))}" py:content="owner">Owner name</a></td>
	<td py:content="listing.numpkgs">Number of packages owned</td>  
      </tr>
    </table>
    <h2>Top 20 Maintainers (owners or comaintainers)</h2>
    <table>
       <tr py:for="id, (userid,listing) in enumerate(zip(maintain_names,maintain_list))">
	  <td py:content="id+1">
	  </td>
	  <td>
	    <a href="${tg.url('/users/packages/' + str(userid))}" py:content="userid">User name</a></td>
	<td py:content="listing.numpkgs">Number of packages maintained</td>
       </tr> 
    </table>
    <h2>Collections</h2>
    <table>
      <tr><th class="ColumnHead" id="collectionhead" title="Collection - Set of Linux packages created and hosted by the Fedora Project">
        Collection
        </th><th class="ColumnHead" id="versionhead" title="Collection Version - Version of the Collection">
        Version
        </th><th class="ColumnHead" id="packagehead" title="Number of Packages - How many packages are in the cvs repository for this colleciton version.  May not be built for this distribution">
        Number of Packages
      </th></tr>
      <tr py:for="collection in collections">
        <td class="collection">
          <a href="${tg.url('/collections/id/' + str(collection.id))}"
            py:content="collection.name">Collection Name</a>
        </td>
        <td class="version">
          <a href="${tg.url('/collections/id/' + str(collection.id))}"
            py:content="collection.version">Collection Version</a>
        </td>
        <td py:content="collection.numpkgs" class="package">
            Number of Packages
        </td>
      </tr>
    </table>
  </body>
</html>
