<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <html />
  <head />
  <body>
    <h2>Collections</h2>
    <table>
      <tr><th class="ColumnHead" id="collectionhead" title="Collection - Set of Linux packages created and hosted by the Fedora Project">
        Collection
        </th><th class="ColumnHead" id="versionhead" title="Collection Version - Version of the Collection">
        Version
        </th><th class="ColumnHead" id="packagehead" title="Number of Packages - How many packages are in the cvs repository for this colleciton version.  May not be built for this distribution">
        Number of Packages
      </th></tr>
      <tr py:for="collection in collections">
        <td class="collection">
          <a href="${tg.url('/collections/id/' + str(collection.id))}"
            py:content="collection.name">Collection Name</a>
        </td>
        <td class="version">
          <a href="${tg.url('/collections/id/' + str(collection.id))}"
            py:content="collection.version">Collection Version</a>
        </td>
        <td py:content="collection.numpkgs" class="package">
            Number of Packages
        </td>
      </tr>
    </table>
  </body>
</html>
