<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xml:lang="en" lang="en">
  <xi:include href="layout.html" />
  <?python
    from pkgdb.lib.dt_utils import fancy_delta
  ?>
  <head>
    <script type="text/javascript"
            src="${tg.url('/static/js/dojo/dojo.js')}"
            djConfig="parseOnLoad: true" >
    </script>
    <script type="text/javascript">
        dojo.require("dijit.Tooltip");
        dojo.addOnLoad(function(){
        });
    </script>
  </head>
  <body>
  <div id="main-pannel">
    <h1>Fedora Package Database -- Version ${version}</h1>
    <h2>Overview</h2>

The Package Database is a central repository of package information in Fedora. You will eventually be able to find and change all the metainformation about a package by searching the database. The current implementation is focused on the data that package developers and release engineers need to create packages and spin them into a distribution.

    ${search_box()}

  </div>
  <div style="clear: left;"></div>

  </body>
</html>
