<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

  <head>
    <meta content="text/html; charset=UTF-8"
    http-equiv="content-type" py:replace="''"/>
    <title>Login</title>
    <style type="text/css">
      #content th, #content td
      {
        padding: 0.25ex;
        border: none!important;
      }
    </style>
  </head>

  <body>
    <div id="loginBox">
      <h2>Login</h2>
      <p>${message}</p>
      <form action="${previous_url}" method="POST">
        <table>
          <tr>
            <td class="label">
              <label for="user_name">User Name:</label>
            </td>
            <td class="field">
              <input type="text" id="user_name" name="user_name"/>
            </td>
          </tr>
          <tr>
            <td class="label">
              <label for="password">Password:</label>
            </td>
            <td class="field">
              <input type="password" id="password" name="password"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="buttons">
              <input type="submit" name="login" value="Login"/>
            </td>
          </tr>
        </table>

        <p>You'll need a <a href="https://admin.fedoraproject.org/accounts/">Fedora Account</a> in order to login.</p>

        <input py:if="forward_url" type="hidden" name="forward_url"
        value="${forward_url}"/>

        <input py:for="name,value in original_parameters.items()"
        type="hidden" name="${name}" value="${value}"/>
      </form>
    </div>
  </body>
</html>
