<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xml:lang="en" lang="en">
  <xi:include href="layout.html" />

  <head>
    <link rel="alternate" type="application/atom+xml"
          href="${tg.url('/desktopfeed/atom1.0')}"
          title="Atom 1.0 feed of Latest Applications" />
    <link rel="alternate" type="application/atom+xml"
          href="${tg.url('/commentsfeed/atom1.0')}"
          title="Atom 1.0 feed of Latest Comments" />
  </head>
  <body>
    <h2>Fedora Package Database -- Version ${version}</h2>

    <h3>Overview</h3>
    <p>The Package Database is a central repository of package information in
    Fedora.  here you can find information about applications in Fedora,
    precise package builds, and information about who the maintainers of
    a package are.
    </p>

    <h3>
      <a style="float: right" href="${tg.url('/appfeed/atom1.0')}">
        <img src="${tg.url('/static/images/feed.png')}"
           alt="Applications Feed" />
      </a>
      What's new and interesting
    </h3>
    <div class="header-list list">
      <table>
        <thead>
          <tr>
            <th class="ColumnHead" id="applicationhead" title="Application">
              Application
            </th>
            <th class="ColumnHead" id="changeloghead" title="Package Changelog">
              Changelog
            </th>
            <th class="ColumnHead" id="committerhead" title="Version Committer">
              Committer
            </th>
            <th class="ColumnHead" id="committimehead" title="Time of Commit">
              Commit Time
            </th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="pkgb in packages">
            <td class="package">
              <a href="${tg.url('/applications/%s/' %
                       (pkgb.applications[0].name))}">
                ${pkgb.applications[0].name}
              </a>
              <br />${pkgb.version+'-'+pkgb.release+'-'+pkgb.architecture}
            </td>
            <td class="changelog">
              <?python changelog = pkgb.changelog.split('\n') ?>
              ${changelog[0]}
              <!--a py:if="len(changelog)!=1"
                 href="${tg.url('/packages/%s/%s#Changelog' %
                       (pkgb.name, pkgb.repo.shortname))}">
                More...
              </a-->
            </td>
            <td class="committer">
              $pkgb.committer
            </td>
            <td class="time">
              ${pkgb.committime.strftime("%h %d")}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3>
      <a style="float: right" href="${tg.url('/commentsfeed/atom1.0')}">
        <img src="${tg.url('/static/images/feed.png')}"
           alt="Comments Feed" />
      </a>
      Latest Comments
    </h3>
    <div class="header-list list">
      <table>
        <thead>
          <tr>
            <th class="ColumnHead" id="author" title="Comment Author">
              Author
            </th>
            <th class="ColumnHead" id="commentbody" title="Comment Body"
                width="80%">
              Body
            </th>
            <th class="ColumnHead" id="commenttime" title="Comment Time">
              Time
            </th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="(comment, cid) in zip(comments, range(1,len(comments)+1))">
            <td class="author">$comment.author</td>
            <?python
                # show only the first 3 sentences.
                # only sentences end in dots, right?
                cbody = comment.body.split('.', 3)
                if len(cbody) == 4:
                   more = True
                else:
                   more = False
                cbody = ''.join(cbody[:3])
                ?>
            <td class="body">$cbody
              <a py:if="more" href="${tg.url('/applications/%s/#Comment%i' %
                                    (comment.application.name,
                                    cid))}">(more)</a>
            </td>
            <td class="time">${comment.time.strftime("%H:%M - %h %d")}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <h3>Search Packages</h3>
    <form name="overview_search"
          action="${tg.url('/search/package/both/0/AND/')}"
          method="get"
          onsubmit="return jump('${tg.url('/search/package/both/0/AND/')}',
                    'overview_search')">
        <p>Keywords:
          <input name="searchwords" size="20" type="text" />
          <input type="submit" value="Search" /> 
        </p>
    </form>
    <ul>
        <li><a href="${tg.url('/search/')}">Advanced search</a></li>
    </ul>
    <h3>Browse Packages</h3>
    <ul>
      <li>
        <a href="${tg.url('/collections/')}">View Packages by Collection</a>
      </li>
      <li>
        <a href="${tg.url('/acls/list/a*')}">Browse all Packages in the Database</a>
      </li>
    </ul>
    <br />
    For more information on the packagedb, see its
    <a href="http://fedorahosted.org/packagedb">Project Page</a>.
  </body>
</html>
