<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xml:lang="en" lang="en">
  <xi:include href="layout.html" />
  <head />
  <body>
    <h2>Fedora Package Database -- Version ${version}</h2>

    <h3>Overview</h3>
    <p>The Package Database is a central repository of package information in
    Fedora.  You will eventually be able to find and change all the metainformation
    about a package by searching the database.  The current implementation is
    focused on the data that package developers and release engineers need to
    create packages and spin them into a distribution.
    </p>

    <h3>Search Packages</h3>
    <script type="text/javascript">
         <!--
         function jump1(){
         window.location=${tg.url('/search/package/both/0/AND/')} + 
            document.forms[1].searchwords.value;
         return false
         }
         //-->
    </script> 
    <form action="${tg.url('/search/package/both/0/AND/')}" method="get" onsubmit="return jump1()">
        <p>Keywords: <input id="package" name="searchwords" size="20" type="text" />
        <input type="submit" value="Search" /> 
        </p>
    </form>
    <ul>
        <li><a href="${tg.url('/search/')}">Advanced search</a></li>
    </ul>
    <h3>Browse Packages</h3>
    <ul>
      <li><a href="${tg.url('/collections/')}">View Packages by Collection</a></li>
      <li><a href="${tg.url('/packages/')}">Browse all Packages in the Database</a></li>
    </ul>
    <br />
    For more information on the packagedb, see its
    <a href="http://fedorahosted.org/packagedb">Project Page</a>.
  </body>
</html>

