<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="pkgheader.html"/>

  <head />
  <body>
    <h2>$package bugs</h2>
    ${pkgheader(package, 'bugz')}

    <h4>${len(bugs)} bugs found</h4>
    <h4>Report a new bug against this package in
        <a href="${'https://bugzilla.redhat.com/enter_bug.cgi?product=Fedora&amp;version=rawhide&amp;component=%s' % tg.quote_plus(package)}">Fedora</a>
        or
        <a href="${'https://bugzilla.redhat.com/enter_bug.cgi?product=Fedora+EPEL&amp;version=el5&amp;component=%s' % tg.quote_plus(package)}">EPEL</a>.
    </h4>
    <table class="buglist">
      <tr>
        <th>Number</th>
        <th>Product</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
      <tr py:for="bug in bugs">
        <td class="bug"><a href="$bug.url">$bug.bug_id</a></td>
        <td class="bug">$bug.product</td>
        <td class="bug">${bug.bug_status.lower()}</td>
        <td class="bug"><a href="$bug.url">$bug.short_desc</a></td>
      </tr>
    </table>
  </body>
</html>
