<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <body>
    <h2>$package bugs</h2>
<ul class="actions">
      <li><a class="koji" href="${'http://koji.fedoraproject.org/koji/search?type=package&amp;match=glob&amp;terms='
        + tg.quote_plus(package)}">Build Status</a></li>
      <li><a class="bodhi" href="${'https://admin.fedoraproject.org/updates/'
        + tg.quote_plus(package)}">Update Status</a></li>
      <li><a class="pkgdb" href="${tg.url('/packages/name/' + package)}"
          >Package Info</a></li>
    </ul>
    <h4>${len(bugs)} bugs found</h4>
    <table class="buglist">
      <tr>
        <th>Number</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
      <tr py:for="bug in bugs">
        <td class="bug"><a href="$bug.url">$bug.bug_id</a></td>
        <td class="bug">${bug.bug_status.lower()}</td>
        <td class="bug"><a href="$bug.url">$bug.short_short_desc</a></td>
      </tr>
    </table>
  </body>
</html>
