<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <body>
    <!--[if lt IE 7]>
    <style type="text/css">
      #wrapper
      {
      height: 100%;
      }
    </style>
    <![endif]-->
    <style type="text/css">
      table
        {
          width: 100%
        }

      #buglist
        {
          margin-left: 2ex!important;
        }

      td, th
        {
           border: none!important;
        }
      td.bug
       {
       border: none;
       }
    </style>
        <h2>$package bugs</h2>
        <table>
          <tr>
            <td>
              <h4>${len(bugs)} bugs found</h4>
              <table class="buglist">
               <tr>
                <th>number</th>
                <th>status</th>
                <th>description</th>
               </tr>
               <tr py:for="bug in bugs">
               <td class="bug"><a href="$bug.url">$bug.bug_id</a></td>
               <td class="bug">${bug.bug_status.lower()}</td>
               <td class="bug"><a href="$bug.url">$bug.short_short_desc</a></td>
               </tr>
              </table>
            </td>
          </tr>
        </table>
  </body>
</html>
