<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <ul py:def="pkgheader(packageName, action=None)" class="actions"
    py:with="pkgUrlName=tg.quote_plus(packageName)">
    <li><a class="koji" href="${'http://koji.fedoraproject.org/koji/search?type=package&amp;match=glob&amp;terms=' + pkgUrlName}">Build Status</a></li>
    <li><a class="bodhi" href="${tg.url(
      'https://admin.fedoraproject.org/updates/%s' % (pkgUrlName,))}"
      >Update Status</a></li>
    <li><a class="cvs" href="${'http://cvs.fedoraproject.org/viewcvs/rpms/'
      + pkgUrlName}">Package Source</a></li>
    <li py:if="action != 'bugz'"><a class="bugz"
      href="${tg.url('/packages/bugs/' + pkgUrlName)}">Bug Reports</a></li>
    <li py:if="action != 'pkgdb'"><a class="pkgdb"
      href="${tg.url('/packages/name/' + pkgUrlName)}">Package Info</a></li>
  </ul>
</html>
