<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
        <div py:def="pkglist(matches, mode='name')" class="PackageList">
            <dl py:for="pkg in matches">
                <dt><a href="${tg.url('/packages/%s/%s' % 
            (mode, pkg.package.name))}" py:content="pkg.package.name"></a></dt>
                <dd><span py:replace="pkg.package.summary">Package Summary
                    </span>
                -- collection: <a href="${tg.url('/packages/name/' + 
                pkg.package.name + '#' + pkg.collection.name + 
                pkg.collection.version)}"><span py:replace="pkg.collection.name +' '+ pkg.collection.version">
                    Collection</span></a><br /><br /></dd>
            </dl>
        </div>
</html>
