<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
        <div py:def="pkglist(packages, mode='name')" class="PackageList">
        <br />
            <dl py:for="pkg in packages">
                <dt>
                    <a href="${tg.url('/packages/%s/%s' % 
                        (mode, pkg[0].package.name))}" 
                            py:content="pkg[0].package.name">
                    </a>
                </dt>
                <dd>
                    <span py:replace="pkg[0].package.description">PackageSummary
                    </span>
                <p>-- available for: 
                    <span py:for="pkgl in pkg">
                    [<a py:content="pkgl.collection.branchname" href="
                        ${tg.url('/packages/name/%s#%s%s' % 
                        (pkgl.package.name, pkgl.collection.name, 
                            pkgl.collection.version))}">
                        Collection shortname
                    </a>]</span></p>
                    <br />
                </dd>
            </dl>
        </div>
</html>
