<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <div py:def="pkglist(packages, mode='name', full_desc=False, release=False,
    releasewhere=None)"
    class="PackageList">
    <dl py:for="pkg in packages">
      <dt>
        <a href="${tg.url('/packages/%s/%s' % (mode.strip('/') or 'name', pkg.name))}"
          py:content="pkg.name" class="PackageName">Package Name</a>
        -- ${pkg.summary}
      </dt>
      <dd py:if="full_desc" py:content="pkg.description" />
      <dd py:if="release" py:choose="releasewhere">
        <div py:when="'orphaned'" py:strip="True">
          <span py:for="collection in sorted((plist.collection.name, plist.collection.version, plist.collection.branchname) for plist in sorted(pkg.listings2.values()) if plist.owner==9900)" py:strip="True">
          [<a py:content="collection[2]"
            href="${tg.url('/packages/%s/%s#%s%s' %
            (mode, pkg.name, collection[0], collection[1]))}">
            Collection shortname</a>]
          </span>
        </div>
        <div py:otherwise="" py:strip="True">
          <span py:for="collection in (plist.collection for plist in sorted(pkg.listings2.values()))" py:strip="True">
          [<a py:content="collection.branchname"
            href="${tg.url('/packages/%s/%s#%s%s' %
            (mode, pkg.name, collection.name, collection.version))}">
            Collection shortname</a>]
          </span>
        </div>
      </dd>
    </dl>
  </div>
</html>
