<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <div py:def="pkglist(packages, mode=None, full_desc=False, release=False,
               releasewhere=None)"
    class="PackageGroup">
    <dl py:for="pkg in packages">
      <dt>
        <py:choose test="mode">
          <py:when test="'tag/'">
            <a href="${tg.url('/packages/%s/%s' %
                     (pkg['name'], pkg.repo.shortname))}"
               py:content="'%s (%s)' % (pkg['name'], pkg.repo.shortname)"
               class="PackageName">Build Name</a>
          </py:when>
          <py:when test="'/packages'">
            <a href="${tg.url('%s/%s/%s' %(mode, pkg['name'], pkg.repo.shortname))}"
               py:content="pkg['name']" class="PackageName">Package Name</a>
            <em>-- ${pkg['summary']}</em>
          </py:when>
          <py:otherwise>
            <a href="${tg.url('/%s%s' % (mode, pkg['name']))}"
               py:content="pkg['name']" class="PackageName">Package Name</a>
           -- ${pkg['summary']}
          </py:otherwise>
        </py:choose>
      </dt>
      <dd py:if="full_desc" py:content="pkg['desc']" />
      <py:if test="release">
        <dd py:choose="releasewhere">
          <py:when test="'orphaned'">
            <span py:for="cname in sorted(pkg['collections'].keys())">
              <span py:for="cver in sorted(pkg['collections'][cname].keys())">
                <span py:for="cbname in sorted(pkg['collections'][cname][cver].keys())">
                  <span py:if="(pkg['collections'][cname][cver][cbname] == 14) and
                          (eol or (pkg['collections'][cname][cver][cbname] != 9))">
                    [<a py:content="cbname"
                        href="${tg.url('/%s%s#%s' % (mode, pkg['name'], cbname))}">
                        Collection shortname</a>]
                  </span>
                </span>
              </span>
            </span>
          </py:when>
          <py:otherwise>
            <py:for each="repo in buildrepos[pkg.name]">
              [<a py:content="repo.shortname"
                  href="${tg.url('/packages/%s/%s' %
                        (pkg.name, pkg.repo.shortname))}">
                Collection shortname</a>]
            </py:for>
          </py:otherwise>
        </dd>
        <br />
      </py:if>
    </dl>
  </div>
</html>
