<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="paginator.html" />
  <xi:include href="pkglist.html" />
  <head />
  <body>
    <div class="smalltext">
      Look in a different collection:
      <p>
        <py:for each="collection in collections">
          <a href="${tg.url('/search/package/%s/%s/%s/%s' %
                   (query, collection.id, searchon, operator))}">
            $collection.branchname</a>,
        </py:for>
      </p>
      <p><a href="${tg.url('/search/')}">Advanced search</a></p>
    </div>
    <br />
    <div py:choose="">
      <div py:when="len(builds) > 0" py:strip="True">
        <p>${len(builds)} matches found in
          <strong>${'%s %s' % (active_collection.name,\
                               active_collection.version)}</strong>
          for package <strong>$query:</strong></p>
        ${paginate_nav()}
        ${pkglist(builds, '/packages', full_desc=False, release=True)}
        ${paginate_nav()}
      </div>
      <p py:otherwise="">
        We are sorry, but there were no matches to display for: 
        <strong>${query}</strong> in collection:
        <strong>${'%s %s' % (active_collection.name, \
                             active_collection.version)}</strong>.
      </p>
    </div>
  </body>
</html>
