<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <html />
  <head />
  <body>
    <h2>Statistics</h2>
    <p>Packages with no comaintainers in devel: $no_comaintainers</p> 
    <p>Packages in all Collections: $total</p>
    <p>Packages belonging to you: $own</p><br />
    <p>Orphan packages in devel: $orphan_devel</p>
    <p>Orphan packages in Fedora 10: $orphan_latest</p>
    
    <h2>Top 20 package owners</h2>
    <table>
      <tr><th class="ColumnHead" id="ownercounthead" title="Counter">
        </th><th class="ColumnHead" id="ownerhead" title="Top 20 package owners">
        Owner
        </th><th class="ColumnHead" id="ownedhead" title="Number of packages owned">
        Packages
        </th>
      </tr><tr py:for="id, (owner, listing ) in enumerate(zip(top_owners_names, top_owners_list))">
    <td py:content="id+1">
    </td>
    <td>
      <a href="${tg.url('/users/packages/' + str(owner))}" py:content="owner">Owner name</a></td>
    <td py:content="listing.numpkgs">Number of packages owned</td>  
      </tr>
    </table>
    <h2>Top 20 Maintainers (owners or comaintainers)</h2>
    <table>
      <tr><th class="ColumnHead" id="maintainercounthead" title="Counter">
        </th><th class="ColumnHead" id="maintainerhead" title="Top 20 package Owners or comaintainers">
        Maintainer
        </th><th class="ColumnHead" id="maintainedhead" title="Number of packages maintained">
        Packages
        </th>
      </tr>
       <tr py:for="id, (userid,listing) in enumerate(zip(maintain_names,maintain_list))">
      <td py:content="id+1">
      </td>
      <td>
        <a href="${tg.url('/users/packages/' + str(userid))}" py:content="userid">User name</a></td>
    <td py:content="listing.numpkgs">Number of packages maintained</td>
       </tr> 
    </table>
      </body>
</html>
