<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="paginator.html" />
  <xi:include href="pkglist.html" />
  <head />
  <body>

    <p py:choose="fasname">
      <form method="GET" action="${tg.url('/users/packages/' + fasname)}">
      <span py:when="'orphan'" py:strip="">
      View: Info |
      <a href="${tg.url('/users/packages/' + fasname)}">Packages</a> that ${fasname}: 
      </span>
      <span py:otherwise="" py:strip="">
      View: <a href="${tg.url('/users/info/' + fasname)}">My Info</a> |
      </span>
      <span>
      <input type="checkbox" name="acls" value="owner" checked="checked"> own <!-- checked="checked" should only be there if it is submitted -->
      <input type="checkbox" name="acls" value="commit"> can commit to <!-- else it should be blank as such -->
      <input type="checkbox" name="acls" value="approveacls" checked="checked"> can approve ACLs
      <input type="checkbox" name="acls" value="watchcommits" checked="checked"> watch commits
      <input type="checkbox" name="acls" value="watchbugzilla" checked="checked"> watch bugzilla
      <button type="submit">Go</button>
      </span>
      </form>
    </p>
    
    ${paginate_nav()}
    ${pkglist(pkgs)}
    ${paginate_nav()}
  </body>
</html>
