<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="paginator.html" />
  <xi:include href="pkglist.html" />

  <form py:def="acl_filter()" method="GET" class="filter"
    action="${tg.url('/users/packages/' + fasname)}">
    Only packages with these acls:

    <ul py:for="acl in acls">
      <li>
      <label>
        <input type="checkbox" name="acls" value="${acl[0]}"
        py:attrs="{'checked': tg.checker(acl[1])}"/>
        ${acl[2]}
      </label>
      </li>
    </ul>
    <button type="submit">Filter</button>
  </form>

  <head />
  <body>

    <p py:choose="fasname" py:strip="">
      <div py:when="tg.identity.user_name">
        View: <a href="${tg.url('/users/info/' + fasname)}">My Info</a> |
        My Packages (${pkgCount})
        ${acl_filter()}
      </div>
      <div py:when="'orphan'">
        View: Orphaned Packages (${pkgCount}) - 
        <div py:choose="eol" py:strip="">
          <div py:when="True" py:strip="">
            <a href="${tg.url('/packages/orphans/')}">hide</a>
          </div>
          <div py:when="False" py:strip="">
            <a href="${tg.url('/packages/orphans/eol')}">show</a>
          </div>
        </div> EOL packages
      </div>
      <div py:otherwise="">
        View: <a href="${tg.url('/users/info/' + fasname)}">${fasname}'s
          Info</a> | ${fasname}'s Packages (${pkgCount})
        ${acl_filter()}
      </div>
    </p>

    ${paginate_nav()}
    <p py:choose="fasname" py:strip="">
      <div py:when="'orphan'" py:strip="">
        ${pkglist(pkgs, release=True, releasewhere='orphaned')}
      </div>
      <div py:otherwise="" py:strip="">
        ${pkglist(pkgs)}
      </div>
    </p>
    ${paginate_nav()}
  </body>
</html>
