<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="layout.html" />

  <head>
    <script type="text/javascript"
            src="${tg.url('/static/js/dojo/dojo.js')}"
            djConfig="parseOnLoad: true" >
    </script>
    <script type="text/javascript">
      dojo.require("dojo.parser");
      dojo.require("dijit.layout.ContentPane" );
      dojo.require("dijit.form.ValidationTextBox");
      dojo.require("dijit.form.Form");
      dojo.require("dijit.form.Button");
    </script>

    <script type="text/javascript">
      function jump(page,form){
           urlparts = page.split('?_csrf');
           window.location = urlparts[0] + document.forms.namedItem(form).searchwords.value + '?_csrf'+urlparts[1];
           return false
      };

      function toggle(hiddenId,buttonId){
           e = dojo.byId(hiddenId);
           but = dojo.byId(buttonId);
           if(e.style.display=="none") {
             e.style.display="";
             but.innerHTML="(less)";
           } else {
             e.style.display="none";
             but.innerHTML="(more)";
           }
      };
      function addTag(){
          var tagForm = dijit.byId("tagform");
          dojo.connect(tagForm, "onSubmit", function(e){
              e.preventDefault();
              var tag = tagForm.attr("value").tags;
              var build = tagForm.attr("value").builds;
              var lang = tagForm.attr("value").language;
              if(tagForm.isValid()){
                  dojo.fadeIn({
                      node: "tagloader",
                      duration: 2000
                  }).play();
                  dojo.xhrGet( {
                      url: "${tg.url('/tag/add/"+build+"/"+tag+"/"+lang+"/')}",
                      handleAs: "text",
                      load: function(response){
                                dojo.fadeOut({
                                    node: "tagloader",
                                    duration: 1000
                                }).play();
                                dojo.byId("taglist").innerHTML=response;
                                }
                      });
                  }
              });
      };

    </script>
    <script type="text/javascript">
    dojo.addOnLoad(function(){
          addTag();
          document.getElementById("moredeps").style.display="none";
          document.getElementById("showdeps").innerHTML="(more)";
      });
    </script>
  </head>
  
  <body>
    <h2>$build.name</h2>
    <p>Repository: $build.repo.name</p>
    <p>$build.package.summary</p>
    
    <ul class="actions" style="float:right">
      <li><a href="${tg.url('/acls/name/'+build.name)}" class="pkgdb">
          Package Admin</a>
      </li>
      <li><a href="http://koji.fedoraproject.org/koji/search?type=package&amp;match=glob&amp;terms=$build.name" class="koji">Build Status</a>
      </li>
      <li><a href="https://admin.fedoraproject.org/updates/$build.name"
             class="bodhi">Update Status</a>
      </li>
      <li><a href="http://cvs.fedoraproject.org/viewcvs/rpms/$build.name/${build.repo.shortname}" class="cvs">Package Source</a>
      </li>
      <li><a href="${tg.url('/acls/bugs/'+build.name)}" class="bugz">
          Bug Reports</a>
      </li>
    </ul>

    <table>
      <tr>
        <td>Project page:</td>
        <td>
          <a href="$build.package.upstreamurl">$build.package.upstreamurl</a>
        </td>
      </tr>
      <tr>
        <td>Version:</td>
        <td>${build.version+'-'+build.release}</td>
      </tr>
      <tr>
        <td>Size:</td>
        <td>${round(build.size/(1024.0**2),2)} M</td>          
      </tr>
      <tr>
        <td>License:</td>
        <td>$build.license</td>  
      </tr>
      <tr>
        <td>Owner:</td>
        <td>
          <a href="${tg.url('/users/packages/%s' % build.listings[0].owner)}">
            ${build.listings[0].owner}
          </a>
        </td>
        <tr>
          <td>Arches:</td>
          <td><py:for each="arch in arches">$arch, </py:for></td>
        </tr>
        <tr>
          <td>Repositories:</td>
          <td>
            <py:for each="repo in other_repos">
              <a href="${tg.url('/packages/%s/%s/' %
                       (build.name, repo.shortname))}">
                $repo.shortname
              </a> 
            </py:for>
          </td>
        </tr>
      </tr>
    </table>

    <p>$build.package.description</p>

    <div id="tags">
      Tags:
      <div id="taglist">
        <xi:include href="_tags.html" />
      </div>

      <py:choose test="tg.identity.anonymous">
        <py:when test="True">
          <p>You must be <a href="${tg.url('/login')}">logged in</a>
            in order to be able to tag packages.</p>
        </py:when>
        <py:when test="False">
          <form id="tagform" method="POST"
                action="${tg.url('/tag/add/')}"
                dojoType="dijit.form.Form">
            <input type="hidden" name="builds" value="$build.name"
                   dojoType="dijit.form.TextBox" />
            <input type="hidden" name="language" value="$language"
                   dojoType="dijit.form.TextBox" />
            <input type="text" name="tags" value="" size="9"
                   dojoType="dijit.form.ValidationTextBox" trim="true"
                   required="true" missingMessage="Please enter a tag!" />
            <button id="tagsubmit" type="submit"
                    dojoType="dijit.form.Button">Tag!</button>
          </form>
        </py:when>
      </py:choose>
      <div id="tagloader" style="opacity: 0">Loading...</div>
    </div>
    <p>dependencies
      <a id="showdeps" py:if="len(build.depends) >10"
         onclick="toggle('moredeps','showdeps')" href="#">(more)</a>:
    </p>
    <p>
      <py:for each="dep in build.depends.keys()[:10]">
        <a href="${tg.url('/packages/%s/%s' % (dep, repo))}">$dep</a>
      </py:for>
      <span id="moredeps" >
        <py:for each="dep in build.depends.keys()[10:]">
          <a href="${tg.url('/packages/%s/%s' % (dep, repo))}">$dep</a>
        </py:for>
      </span>
    </p>
    <br />
    <p id="changelog"><a name="Changelog">Last changelog entry:</a></p>
    <p>
      <b>${build.committime.strftime("%h %d, %Y")}</b> - 
        <?python
            (name, email) = build.committer.rsplit(' ',1)
            email = email.strip('<>')
        ?>
        <a href="mailto:$email">$name</a>
        $build.changelog
    </p>

    <br />
    <div id="comments">
        <py:for each="comment in comments">
          <?python if comment.published:
                       color=''
                   else:
                       color='#fee'
          ?>
          <div class="comment" style="background-color: $color">
            <div class="comment_head">
              <a name="Comment$comment.id" href="#Comment$comment.id"
                 title="permalink">#</a> 
              Comment by: $comment.author at
              <em>${comment.time.strftime("%H:%M - %h %d, %Y")}</em>
              <?python from pkgdb.utils import mod_grp ?>
              <py:if test="mod_grp in tg.identity.groups">              
                <a href="${tg.url('/comments/toggle_published/%s'% comment.id)}">
                  <py:choose test="comment.published">
                    <py:when test="True">
                      unpublish
                    </py:when>
                    <py:when test="False">
                      publish
                    </py:when>
                  </py:choose>
                </a>
              </py:if>

            </div>
            <p>$comment.body</p>
          </div>
          <br />
        </py:for>
      <py:choose test="tg.identity.anonymous">
        <py:when test="True">
          <p>Please <a href="${tg.url('/login')}">log in</a> to add comments.</p>
        </py:when>
        <py:when test="False">
          Add a new comment:
          <form id="commentform" method="post"
                action="${tg.url('/comments/add/')}"
                dojoType="dijit.form.Form">
            <input type="hidden" name="build" value="$build.name" />
            <input type="hidden" name="language" value="$language" />
            <input type="hidden" name="author" value="$tg.identity.user_name" />
            <p>
              <textarea name="body" rows="10" cols="80"></textarea>
            </p>
            <input type="submit" value="Send" />
          </form>
        </py:when>
      </py:choose>
    </div>
  </body>
</html>
