<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="paginator.html" />
  <xi:include href="pkglist.html" />

  <form py:def="acl_filter()" method="GET" class="filter"
    action="${tg.url('/users/packages/' + fasname)}">
    Only packages with these acls:

    <ul>
      <li py:for="acl in acls">
      <label>
        <input type="checkbox" name="acls" value="${acl[0]}"
        py:attrs="{'checked': tg.checker(acl[1])}"/>
        ${acl[2]}
      </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="eol" value="True"
          py:attrs="{'checked': tg.checker(eol)}"/>
          Include EOL Distributions
        </label>
      </li>
    </ul>
    <button type="submit">Filter</button>
  </form>

  <head>
    <style type="text/css">
      #orphans table th, #orphans table td {
        border: 0;
      }
    </style>

    <script type="text/javascript"
             src="${tg.url('/static/javascript/pendingpkgs.js')}">
    </script>
    <script type="text/javascript"
             src="${tg.url('/static/javascript/userpkgs.js')}">
    </script>
  </head>

  <body>

    <p py:choose="fasname" py:strip="">
      <div py:when="tg.identity.user_name">
        View: <a href="${tg.url('/users/info/' + fasname)}">My Info</a> |
        My Packages (${pkgCount})
        ${acl_filter()}
      </div>
      <div id="orphans" py:when="'orphan'">
        <form name="Collections" action="${tg.url('/acls/update_orphans/')}" method="post">
          <table border="0">
            <th colspan="0">Valid Collections</th>
            <tr py:for="collection in sorted(collections.keys())">
              <td>$collection</td>
              <td py:for="branch in sorted(collections[collection].keys())">
                <input type="checkbox" name="collections" value="$branch"
                       py:attrs="{'checked': tg.checker(collections[collection][branch])}">
                  $branch
                </input>
              </td>
            </tr>
          </table>
          <input type="button" value="Select All"
                 onClick="setCheckBox(true,'Collections')"/>
          &nbsp;&nbsp;
          <input type="button" value="Deselect All"
                 onclick="setCheckBox(false, 'Collections')"/>
          &nbsp;&nbsp;
          <input type="submit" value="Update"/>
        </form>
        <br/>
      </div>
      <div py:when="'retired'">
        View: Retired Packages (${pkgCount}) - 
        <div py:choose="eol" py:strip="">
          <div py:when="True" py:strip="">
            <a href="${tg.url('/acls/orphans', eol=False)}">hide</a>
          </div>
          <div py:when="False" py:strip="">
            <a href="${tg.url('/acls/retired', eol=True)}">show</a>
          </div>
        </div> EOL packages
      </div>
      <div py:otherwise="">
        View: <a href="${tg.url('/users/info/' + fasname)}">${fasname}'s
          Info</a> | ${fasname}'s Packages (${pkgCount})
        ${acl_filter()}
      </div>
    </p>

    ${paginate_nav()}
    <p py:choose="fasname" py:strip="">
      <div py:when="'orphan'" py:strip="">
        ${pkglist(pkgs, mode='acls/name/',release=True, releasewhere='orphaned')}
      </div>
      <div py:otherwise="" py:strip="">
        ${pkglist(pkgs, mode='acls/name/')}
      </div>
    </p>
    ${paginate_nav()}
  </body>
</html>
