/*
 * Copyright © 2007  Ricky Zhou
 * Copyright © 2007, 2009  Red Hat, Inc.
 *
 * This copyrighted material is made available to anyone wishing to use, modify,
 * copy, or redistribute it subject to the terms and conditions of the GNU
 * General Public License v.2.  This program is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY expressed or implied, including the
 * implied warranties of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.  You should have
 * received a copy of the GNU General Public License along with this program;
 * if not, write to the Free Software Foundation, Inc., 51 Franklin Street,
 * Fifth Floor, Boston, MA 02110-1301, USA. Any Red Hat trademarks that are
 * incorporated in the source code or documentation are not subject to the GNU
 * General Public License and may only be used or replicated with the express
 * permission of Red Hat, Inc.
 *
 * Author(s): Ricky Zhou <ricky@fedoraproject.org>
 *            Toshio Kuratomi <tkuratom@redhat.com>
 */

/*
 * Override a few things from the Fedora Stylesheet
 */
#sidebar
{
  width: 25ex;
}

#content
{
  margin-left: 25ex!important;
}

#content table
{
  margin: 1ex 0;
}

.filter
{
    background: #ddd;
    float: right;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    padding: .4em;
    margin: .1em;
}

.filter li
{
    list-style-type: none;
    line-height:0;
}

.filter li select
{
    margin: .1em;
}

/*
 * These could be reused in all of our TurboGears apps.
 */

#pageLogin
{
  float: right;
}
#actions
{
  line-height: 1;
  list-style: none;
  margin: 1ex 0!important;
}

#actions li
{
    margin-right: 1ex;
    display: inline;
}

.smalltext
{
    line-height: 80%;
    font-size: 80%;
    background-color: #f4f4f4;;
    padding: .3em;
}

/*
 * Package DB Specific styles
 */
.pkglist, .buglist
{
  border: 1px solid #CCCCCC;
  text-align: center;
}

.pkglist.orphan
{
    background-color: #EFEFEF;
}

.buglist
{
  width: 100%;
}

.pkglist th, .pkglist td, .buglist th, .buglist td
{
  border: none!important;
}

.acls .acluser, .groupacls .aclgroup, .buglist .bug
{
  text-align: left;
}

.PackageList .PackageName
{
  font-weight: bold;
}

.PackageList dd {
  margin-left: 2em;
}

#left-pane {
  width: 90%;
}
#tags {
    width: 40%;
    float: right;
    margin-right: 10%;
}
/* Want to merge somehow -- talk to mizmo and ricky */
#head h1 {
  float: left;
}

#head {
  height: 65px;
}

/* Requested to merge */

/* application */

.comment {
    border-bottom: 1px solid #ebebef;
    margin-bottom: 10px;
}




/* info-box */

.info-bar {
    margin-left: 14px;
}

.info-box h4 {
    color: #f7f7f9;
    background-color: #b4bccb;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 1em;
    padding: 3px;
    padding-left: 8px;
    margin-bottom: 0;

}

.info-box .group-header {
    background-color: #ebebef;
    padding: 3px;
    padding-left: 8px;
}

.group-header .title {
    font-weight: bold;
    color: #337acc;
}

.info-box .group-data {
    background-color: #f7f7f9;
    color: #337acc;
    padding: 3px;
    padding-left: 14px;
}

.seamless-list {
    margin: 0;
}

.seamless-list li {
    list-style: none;
}

#info-bar ul {
    margin: 0;
    margin-left: 3px;
}

#info-bar li {
    list-style: none;
}

#user_ratings table th {
    border: 0;
    border-top: 1px solid #c4ccdb;
    background-color: #ebebef;
    white-space: nowrap;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

#user_ratings table td {
    border: 0;
    border-bottom: 1px solid #dddddd;
    white-space: nowrap;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

#user_ratings ul {
    margin: 0;
}


#user_ratings .rating-votes {
    font-size: 80%;
    margin-left: 5px;
}

#user_ratings .usage-label {
    color: #337acc;
    font-weight: bold;

}

.rating-result {
    background: transparent url(../images/star_bar.png);
    width: 80px;
    height: 16px;
    background-position: left top;
    float: left;
}

.rating-result li {
    list-style: none;
    text-indent: -1000em;
    height: 16px;
    background: transparent url(../images/star_bar.png);
    background-position: left bottom;
}

