/*
 * Copyright © 2007  Ricky Zhou
 * Copyright © 2007  Red Hat, Inc.
 *
 * This copyrighted material is made available to anyone wishing to use, modify,
 * copy, or redistribute it subject to the terms and conditions of the GNU
 * General Public License v.2.  This program is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY expressed or implied, including the
 * implied warranties of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.  You should have
 * received a copy of the GNU General Public License along with this program;
 * if not, write to the Free Software Foundation, Inc., 51 Franklin Street,
 * Fifth Floor, Boston, MA 02110-1301, USA. Any Red Hat trademarks that are
 * incorporated in the source code or documentation are not subject to the GNU
 * General Public License and may only be used or replicated with the express
 * permission of Red Hat, Inc.
 *
 * Author(s): Ricky Zhou <ricky@fedoraproject.org>
 *            Toshio Kuratomi <tkuratom@redhat.com>
 */

/*
 * Override a few things from the Fedora Stylesheet
 */
#content
{
  margin-left: 25ex!important;
}

#content table th
{
  border: 1px solid #bbb;
}

#content table td
{
  border: 1px solid #ddd;
}

#content table
{
  margin: 1ex 0;
}

/*
 * These could be reused in all of our TurboGears apps.
 */
#pageLogin
{
  float: right;
}

.actions
{
  list-style: none;
  line-height: 1;
  margin: 1ex 0!important;
}

.actions li
{
  display: inline;
  margin-right: 1ex;
}

a.bodhi
{
  padding-left: 20px;
  background: url(https://fedoraproject.org/static/images/icons/fedora-infra-icon_bodhi.png) 0 50% no-repeat;
}

a.koji
{
  padding-left: 20px;
  background: url(http://fedoraproject.org/static/images/icons/fedora-infra-icon_koji.png) 0 50% no-repeat;
}

a.bugz
{
  padding-left: 20px;
  background: url(http://fedoraproject.org/static/images/icons/fedora-infra-icon_bugzilla.png) 0 50% no-repeat;
}

a.pkgdb
{
  padding-left: 20px;
  background: url(http://fedoraproject.org/static/images/icons/fedora-infra-icon_pkgdb.png) 0 50% no-repeat;
}

a.cvs
{
  padding-left: 20px;
  background: url(http://fedoraproject.org/static/images/icons/fedora-infra-icon_source-control.png) 0 50% no-repeat;
}

.ToolTip
{
  display: block;
  positon: absolute;
  border: 1px solid black;
  background-color: lightyellow;
  width: 200px;
}

.invisible
{
  display: none;
}

.filter
{
    background: #ddd;
    float: right;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    padding: .4em;
    margin: .1em;
}

.filter li
{
    list-style-type: none;
    line-height:0;
}

.filter li select
{
    margin: .1em;
}

.flash
{
    background: #DEE681 url(../images/success.png) 10px 50% no-repeat;
    border: 1px solid #CCBBAA;
    padding: 1.5ex 15px 1.5ex 43px;
    margin: 1ex 0;
}

#smalltext
{
    line-height: 80%;
    font-size: 80%;
    background-color: #efefef;
    padding: .3em;
}

/*
 * Package DB Specific styles
 */
.pkglist, .buglist
{
  border: 1px solid #CCCCCC;
  text-align: center;
}

.pkglist.orphan
{
    background-color: #EFEFEF;
}

.buglist
{
  width: 100%;
}

.pkglist th, .pkglist td, .buglist th, .buglist td
{
  border: none!important;
}

.acls .acluser, .groupacls .aclgroup, .buglist .bug
{
  text-align: left;
}

.PackageList .PackageName
{
  font-weight: bold;
}

.PackageList dd {
  margin-left: 2em;
}
